doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="description",content="Free online subtitle editing tool. Upload exsisting subtitles or create new ones. Preview on any video file on your computer or hosted online")
    meta(name="keywords",content="subtitles,editing,subtitle,editor,free,online")
    title Online Subtitle Editor
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Arvo")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="/javascripts/ga.js")
  body
    block content
